body {
    background-color:#7cbf97
    position:relative;
    padding:0px;
    margin:2px;
    }
button {
  background-color:white;
  border:1px outset #caa1a1;
  border-radius:0.2em;
}
.tasti {
    margin:0;
    padding:0;
    margin-top:0px;
}
.tasti li {
    display:inline;
}

.tasti button {
    margin:0px;
    position:relative;
    padding:0;

}
.testuale {
    position:absolute;
    bottom:0;
    background-color:black;
    width:100%;
    color:white;
    }
.count {
    position:absolute;
    top:0px;
    right:0px;
    color:#0b100b;
    background-color:white;
    padding-left:6px;
    padding-right:6px;
    font-size:25px;
    border:1px inset #a9daa9;
    border-radius:0.2em;
}
.fa {
    font-size:30px;
}
.control li{
    /* display:inline; */
    margin-top:1em;
    /* padding:0px; */
    list-style-type:none;
}
ul.control {padding:0;
  }
.control button{
  width:40px;
}
.conferma button {
    width:40px;

}
.control {
    padding-left:5px;
    padding-bottom:0px;
    padding-top;
    margin:0px;
    /*border:1px solid #61e459; */   
    position:fixed;
    top:2.5em;
    right:3px;
 
    z-index: 1;


}    

    
.conferma {
    font-size:150%;
    background-color:#fff1e0;
    margin:auto;
    margin-top:0.5em;
    width:95%;
    border-radius:0.2em;
    border:1px inset #eac1c1;
}

.conferma > ul > li{
 list-style-type:none;
 /* margin-top:1em; */
 margin-right:1em;
 padding-bottom:1em;
 position:relative;
}
.conferma_buttons {
    position:absolute;
    right:0.1em;
    bottom:1em;
}
.reason {
    padding:0.5em;

}
.conferma_buttons li {
    display:inline;
    margin-left:0.6em
}
     
.conferma ul {
  padding:0;
  margin:0;
}



.title {
    color:white;
    background-color:#3c9c36;
    font-size:150%;
    text-align: center;
    padding:0.3em;
    margin-bottom:0.5em;
} 
table.bill {
  font-family: "Times New Roman", Times, serif;
  border: 1px inset #c3aaaa;
  border-radius:0.2em;
  width: 95%;
  text-align: center;
  margin:auto;
}
table.bill td, table.bill th {
  border: 1px solid #e4d4d4;
  padding: 3px 2px;
}
table.bill tbody td {
  font-size: 13px;
}
table.bill tr:nth-child(even) {
  background: #D0E4F5;
}
table.bill thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.bill thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.bill thead th:first-child {
  border-left: none;
}

table.bill tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.bill tfoot td {
  font-size: 14px;
}

.report_card {
  float:left;
  font-size:120%;
  font-style: oblique;
  margin:0.1em;
}
.nocard, .noparse {
  color:red;
}
.user {
  font-weight:bold;
}

ul.users_actions li {
  display:inline;
}
ul.users {
    padding:0em;
    margin:0;
    float:right;
}
input{
    font-size:120%;
    border-radius:0.2em;
    border:1px inset #d6adad;
}
.new_user input{
    width:7.5em;
    padding-left:0.2em;

}

div.new_user {
  float:left;
}

ul.users button{
    font-size:120%;
    width:2em;
    /* padding:0; */
    /* height:1.5em; */
}

ul.stores button{
    font-size:120%;
    width:90%;
    /* padding:0; */
    /* height:1.5em; */
}
li.enter_user button{
  width:4em;
}
.delete_user i{
  font-size:100%;
  color:red;
}

ul.users li, ul.stores li{
    list-style-type:none;
    margin-bottom:0.6em;
    margin-right:0.5em;
}
.logout {
  float:right;
}
.logout i {
  font-size:150%
}
.enter_password{
  width:80%;
  margin:auto;
}

.enter_password input{
  width:100%;
}